<h1>Menu services</h1>

<p>This component fetching services from the server.</p>

<p *ngIf="!services"><em>Loading...</em></p>

<table class='table' *ngIf="services">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Icon Url</th>
            <th>Icon</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let service of services">
            <td>{{ service.id }}</td>
            <td>{{ service.name }}</td>
            <td>{{ service.icon }}</td>
            <td><img [src]="service.icon" width="24px" height="24px"></td>
        </tr>
    </tbody>
</table>

<button type="button" class="btn btn-primary" (click)="staticModal.show()">Static modal</button>
 
<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Static modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        This is static modal, backdrop click will not close it.
        Click <b>&times;</b> to close modal.
      </div>
    </div>
  </div>
</div>