<div class="panel panel-default">
    <div class="panel-heading">
        <ul class="pull-right panel-contol" *ngIf="editable">
            <li (click)="edit.emit(menu.id)" role="button"><i class="fa fa-pencil-square-o fa-1x" aria-hidden="true"></i></li>
            <li (click)="edit.emit(menu.id)" role="button"><i class="fa fa-trash-o fa-1x" aria-hidden="true"></i></li>
        </ul>
        <div class="panel-title">
            {{menu.name}} - {{menu.onDate|amDateFormat:'L'}}
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item usermenu"  *ngFor="let item of menu.items">
            <div class="btn-group pull-right" *ngIf="showComment">
                <button class="btn btn-default" type="button" (click)="showComments()"><span class="fa fa-comments-o" aria-hidden="true"></span></button>
            </div>
            {{item.name}}&nbsp;<sup>{{item.weight}}</sup>
            <div star-rating *ngIf="showRating"></div>
        </li>
    </ul>
    <div class="panel-footer price">
        <div star-rating *ngIf="showRating"></div>
        <div>{{menu.price}}</div>
    </div>
</div>